@using HospitalProject.Class;
@model IEnumerable<SpecialityClass>
@{
    ViewData["Title"] = "Index";
    string specialityName = ViewBag.specialityName;
}

<br />
<div class="row">
    <div class="col-6">
        <h3>Lista de Especialidades</h3>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success d-block">Agregar Nueva Especialidad</a>
    </div>
</div><br />
<div class="row">
    <div class="col-6">
        <input type="text" id="txtSpecialityName"/>
        <input class="btn btn-success" type="button" value="Buscar" onclick="filterSpecialtiesByName()" />
        <input class="btn btn-danger" type="button" value="Limpiar" onclick="Clean()"/>
    </div>
</div><br />
<div class="row">
    <div class="col-12">
        <table class="table">
            <a asp-action="ExportExcel">Exportar a Excel</a>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tblData">
            </tbody>
        </table>
    </div>    
</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>


<script>
    window.onload = function() {
        let url = "Speciality/ListSpeciality"
        paintData(url, ["id", "name", "description"], "id", "Speciality");
    }

    function btnDelete(specialityId) {
        confirmBtnModal().then((result) => {
            if(result.isConfirmed) {
                $.get(`speciality/Delete/?specialityId=${specialityId}`, function(data) {
                    if(data) {
                        let url = "Speciality/ListSpeciality"
                        paintData(url, ["id", "name", "description"], "id", "Speciality");
                        successModal();
                    }
                })
            }
        })
    }

    function filterSpecialtiesByName() {
        let txtSpecialityName = document.getElementById('txtSpecialityName');
        let specialityName = txtSpecialityName.value;
        let url = `Speciality/SpecialtiesByName/?specialityName=${specialityName}`
        paintData(url, ["id", "name", "description"], "id", "Speciality");
    }

    function Clean() {
        document.getElementById('txtSpecialityName').value = "";
        let url = `Speciality/ListSpeciality`
        paintData(url, ["id", "name", "description"], "id", "Speciality");
    }

    

</script>

                    