@using HospitalProject.Class
@model IEnumerable<PageClass>

@{
    
}

<div class="row">
    <div class="col-6">
        <h3>Lista de Páginas</h3>
    </div>
    <div class="col-6">
        <a class="btn btn-success d-block" asp-action="Create">Crear Nueva Página</a>
    </div>
</div><br />
<div class="row">
    <div class="col-3">
        <input type="text" id="txtMessage"/>
        <input class="btn btn-primary" type="button" value="Buscar" onclick="filterPageByMessage()" />
        <input class="btn btn-danger" type="button" value="Limpiar" onclick="clean()"/>
    </div>
</div><br />
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(p => p.Id)</th>
                    <th>@Html.DisplayNameFor(p => p.Message)</th>
                    <th>@Html.DisplayNameFor(p => p.Action)</th>
                    <th>@Html.DisplayNameFor(p => p.Controller)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tblData">
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/sweetalert.js"></script>
<script src="~/js/generic.js"></script>

<script>
    window.onload = function() {
        let url = "Page/PageList"
        paintData(url, ["id", "message", "action", "controller"], "id", "Page");
    }

    function filterPageByMessage() {
        let txtMessage = document.getElementById('txtMessage').value;
        let url = `Page/PageByMessage/?message=${txtMessage}`
        paintData(url, ["id", "message", "action", "controller"], "id", "Page");
    }

    function clean() {
        document.getElementById('txtMessage').value = "";
        let url = "Page/PageList"
        paintData(url, ["id", "message", "action", "controller"], "id", "Page");
    }

    function btnDelete(pageId) {
        confirmBtnModal().then((result) => {
            if(result.isConfirmed) {
                let url = "Page/PageList"
                $.get(`Page/Delete/?pageId=${pageId}`, function(response) {
                    if(response) {
                        paintData(url, ["id", "message", "action", "controller"], "id", "Page");
                    }
                    else {
                        console.log("El responde es false");
                    }
                })
            }
        })
    }

</script>
